List 3/__pycache__/fourier_transformation.cpython-39.pyc
List 4/__pycache__/robots0.cpython-39.pyc
List 5/.vscode/.ropeproject/objectdb
List 5/__pycache__/robots0.cpython-38.pyc
List 5/__pycache__/robots0.cpython-39.pyc
List 5/__pycache__/vector.cpython-39.pyc
